/* Product */

.main {
    display: grid;
    place-content: center;
}

.product {
    margin-top: 15px;
    width: 1225px; height: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    border-bottom: solid 1px rgb(211, 211, 211);
    padding-bottom: 40px;
}

.product__image {
    width: 100%; height: 700px;
    position: sticky;
    align-self: baseline;
    top: 10px;
    display: flex;
}

.image__left {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex; flex-direction: column;
}

.image__left img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.image__right {
    height: 100%;
    flex: 6;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-left: 20px;
}

.image__slide {
    display: flex;
    position: relative;
    width: 100%; height: 100%;
    transition: all ease-out 0.2s;
}

.image__slide img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.image__left img:active {
    border: solid 3px var(--main-red);
}

.product__right {
    width: 100%;
    /* background-color: red; */
}

.product__info {
    display: flex; flex-direction: column;
    font-size: 2.6rem;
    color: black;
    line-height: 30px;
    border-bottom: solid 1px rgb(219, 219, 219);
    padding-bottom: 30px;
    font-family: 'Quicksand';
}

.product__info f:nth-child(1) {
    margin-top: 20px;
}

.product__info f:nth-child(2) {
    margin-top: 20px;
    color: var(--main-red);
    font-size: 2.2rem;
    letter-spacing: 0.1px;
}

.product__buy {
    margin-top: 30px;
    width: 100%; height: 50px;
    /* background-color: red; */
    margin-bottom: 20px;
    display: flex;
}

.buy__ammount {
    display: flex;
    width: 170px;
    height: 50px;
}

.buy__ammount input {
    position: relative;
    width: 70px;
    border: none;
    text-align: center;
    font-weight: 600;
    border: solid 1px rgb(238, 238, 238);
}

.buy__ammount input:focus {
    outline: solid 1px black;
}

.buy__ammount button {
    width: 50px;
    border: none;
    font-size: 2rem;
    background-color: rgb(238, 238, 238);
}

.price__button--hover::before {
    content: '';
    display: block;
    position: absolute;
    width: 0%; height: 101%;
    background-color: white;
    animation: scaleX4 0.3s ease-out forwards;
    z-index: 1;
    float: left;
}

.price__button--hover:hover::before {
    animation: scaleX3 0.3s ease-out forwards;
}

@keyframes scaleX3 {
    0% {
        top: -0.0; left: -0.2px;
        width: 0%;
    } 100% {
        top: -0.0; left: -0.2px;
        width: 100%;
    }
}

@keyframes scaleX4 {
    0% {
        top: 0; right: 0;
        width: 100%;
    } 100% {
        top: 0; right: 0;
        width: 00%;
    }
}

.price__button--hover span, .price__button--hover i {
    position: relative;
    font-size: 1.4rem;
    z-index: 2;
}

.price__button--hover:hover {
    color: var(--main-red);
}

.price__button__add {
    border: solid 1px var(--main-red);
    padding: 2px 0;
    width: 100%;
    margin-left: 50px;
    position: relative;
    text-align: center;
    background-color: var(--main-red);
    color: white;
    z-index: 2;
}

.price__button__add span {
    font-family: 'Quicksand' !important;
}

.product__rule {
    font-size: 1.4rem;
    display: flex; flex-direction: column;
    border-bottom: solid 1px rgb(219, 219, 219);
    padding-bottom: 20px;
}

.rule {
    display: flex; flex-direction: column;
    margin-bottom: 20px;
    line-height: 25px;
}

.product__detail {
    margin-top: 20px;
    font-size: 1.5rem;
    display: flex; flex-direction: column;
    line-height: 40px;
}

.product__detail b:first-child {
    font-size: 2rem;
}

@media screen and (max-width :1250px) {
    .product {
        width: 1000px;
    }
}

@media screen and (max-width :1025px) {
    .product {
        width: 850px;
    }
}

@media screen and (max-width :840px) {
    .main {
        place-items: unset;
    }
    .product__image {
        flex-direction: column-reverse;
    }
    .image__left {
        flex-direction: row;
        margin: auto;
        width: 80vw; height: 50px;
        margin-top: 20px;
    }
    .image__right {
        margin: auto;
        width: 400px;
    }
    .product {
        padding: 0 10px;
        grid-template-columns: 1fr;
        width: 700px;
    }

    .product__image {
        position: relative;
    }
    .image__left img {
        flex: 1;
        margin-right: 5px;
    }
}

@media screen and (max-width :700px) {
    .product {
        width: 550px;
    }
}

@media screen and (max-width :500px) {
    .product {
        width: 490px;
    }
}
